.sectionHeader {
  display: flex;
  gap: var(--space-4x);
  align-items: end;
}
.arrow {
  padding: 10px;
  border: 1px solid var(--border);
  height: fit-content;
  cursor: default;
  &:hover {
    border: 1px solid var(--foreground);
  }
}
