.megaMenuContainer {
  z-index: 50;
  position: fixed;
  top: 60px;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  justify-content: center;
}

.wrapper {
  max-width: 1312px;
  width: 100%;
  background-color: white;
  height: fit-content;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 328px;
  box-shadow:
    4.6px 9.3px 54px 1px rgba(152, 160, 185, 0.04),
    2.1px 4.3px 32px -0.7px rgba(152, 160, 185, 0.31),
    1px -1px 3px -0.3px rgba(152, 160, 185, 0.21),
    0.3px 0.5px 0.8px 0px rgba(152, 160, 185, 0.12);
}

.menuSection__primary {
  display: grid;
  grid-template-columns: 1fr;
}

.wrapper header {
  display: flex;
  align-items: center;
  gap: var(--space-3x);
  padding: var(--space-4x) var(--space-6x);
}

.wrapper header > p {
  margin-bottom: 0;
  font-family: var(--font-mono);
  font-size: var(--Font-Size-Eyebrow, 12px);
  font-style: normal;
  font-weight: 500;
  line-height: var(--Line-Height-Eyebrow, 12px); /* 100% */
  letter-spacing: 0.6px;
  text-transform: uppercase;
  color: var(--Color-Tertiary, rgba(20, 25, 33, 0.5));
}

.wrapper p {
  margin-bottom: 0;
}

.menuSection__nested {
  display: grid;
  grid-template-columns: 328px 328px 328px;
}

.menuSection__group {
  display: grid;
  grid-template-columns: 328px;
}

.menuSection__interoperability {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.menuSection__compliance {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.groupItem {
  display: flex;
  align-items: center;
  padding: var(--space-6x);
  gap: var(--space-3x) var(--space-4x);
}

.itemList {
  padding: var(--space-2x) 0;
  border-left: 1px solid var(--gray-200);
}

.groupItemTitle {
  color: var(--Color-Primary, #0e1119);
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 21.6px */
}

.groupItemDescription {
  color: var(--Gray-gray-500, #858a95);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 157.143% */
  letter-spacing: -0.14px;
}

@media screen and (min-width: 768px) {
  .megaMenuContainer {
    display: flex;
  }
}
