.megaMenuContainer {
  z-index: 50;
  position: fixed;
  top: 60px;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  justify-content: center;
}

.wrapper {
  max-width: 1500px;
  width: 100%;
  background-color: white;
  height: fit-content;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /*box-shadow:
    4.6px 9.3px 54px 1px rgba(152, 160, 185, 0.04),
    2.1px 4.3px 32px -0.7px rgba(152, 160, 185, 0.31),
    1px -1px 3px -0.3px rgba(152, 160, 185, 0.21),
    0.3px 0.5px 0.8px 0px rgba(152, 160, 185, 0.12);*/
  border: 1px solid var(--border);
}

.column {
  display: grid;
  grid-template-columns: 1fr;
  border-right: 1px solid var(--Border-Grid, rgba(22, 37, 65, 0.13));
}

.column:last-child {
  border-right: none;
}

.wrapper header {
  display: flex;
  align-items: center;
  gap: var(--space-3x);
  padding: var(--space-4x) var(--space-6x);
}

.wrapper p {
  margin-bottom: 0;
}

.section {
  display: flex;
  flex-direction: column;
}

.section header {
  border-bottom: 1px solid var(--Border-Grid, rgba(22, 37, 65, 0.13));
}

.groupItem {
  display: flex;
  align-items: center;
  padding: var(--space-4x) var(--space-6x);
  gap: var(--space-4x);
  text-decoration: none;
  transition: background-color 0.2s;
}

.groupItem:hover {
  background-color: var(--muted);
}

.groupItemIcon {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}

.itemList {
  display: flex;
  flex-direction: column;
  padding: var(--space-2x);
}

.groupItemDescription {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .megaMenuContainer {
    display: flex;
  }
}
