.container {
  background-color: var(--tertiary-foreground);
  padding: var(--space-10x) var(--space-16x);
}

.title {
  margin-bottom: var(--space-8x);
  color: var(--background);
}

.secondaryBtn {
  color: var(--muted-on-surface);
}

.contentFooter {
  display: flex;
  gap: var(--space-6x);
  margin-top: 55px;
}

.content {
  display: grid;
  grid-template-columns: 492px 735px;
  justify-content: space-between;
  gap: var(--space-24x);
}

.accordionItem {
  border-bottom: none;
  border-top: 1px solid var(--segment-button-foreground);
  display: flex;
  flex-direction: column;
  transition: all 0.3s ease-in-out;
}

.text {
  color: var(--muted-more-foreground);
}

.indicator {
  color: var(--segment-button-foreground);
}

.accordionTrigger {
  color: var(--muted-more-foreground);
  padding: var(--space-4x) 0;
  border: none;
  outline: none;
  & p {
    color: var(--muted-more-foreground);
  }

  & svg {
    display: none;
  }
}

.image {
  width: 100%;
  object-fit: cover;
}

.accordionItem[data-state="open"] {
  border-top: 2px solid var(--link);

  & .accordionTrigger {
    color: var(--background);
  }
  & .indicator {
    color: var(--link);
  }
}

.body {
  max-width: var(--fullwidth-max-width);
  width: 100%;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .content {
    grid-template-columns: 1fr;
    padding: 0 var(--space-8x);
  }
}
