.wrapper {
  background: #252e42e6;
  border-radius: var(--space-8x);
  max-width: 700px;
  min-width: 492px;

  margin: 0 auto;
  position: fixed;
  bottom: var(--space-4x);
  height: fit-content;
  min-height: 56px;
  z-index: 11;
  left: 50%;
  transform: translateX(-50%);

  padding: var(--space-2x);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
}

.content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  justify-content: space-evenly;
}

.btn {
  border-radius: var(--space-8x);
  padding: 0 var(--space-4x);
  color: var(--gray-300);
  display: flex;
  transition: all 0.1s ease;
  align-items: center;
  justify-content: center;
  height: 100%;
  &:hover {
    background-color: #252e42;
  }

  & div {
    margin-right: var(--space-2x);
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: var(--space-2x);
    & span {
      display: flex;
      color: var(--white);
      align-items: center;
      gap: var(--space-2x);
      background-color: var(--gray-500);
      border-radius: var(--space-8x);
      padding: var(--space-1x) var(--space-3x);
    }
  }
}

.searchInputWrapper.expanded {
  width: 100%;
  grid-column-end: span 4;
}

.searchIcon {
  width: 22px;
  height: 22px;
}

.searchInputWrapper {
  background-color: #252e42;
  display: flex;
  padding: var(--space-2x) var(--space-3x);
  border-radius: var(--space-8x);
  align-items: center;
  gap: var(--space-2x);
  transition: all 0.1s ease;
  min-width: 108px;
}

.searchInput {
  background: transparent;
  color: var(--gray-300);
  font-size: 14px;
  &::placeholder {
    color: var(--gray-400);
    font-style: normal;
  }
}

.expandedContent {
  max-height: 312px;
  overflow-y: auto;
  overflow-x: hidden;
  padding: var(--space-4x);
  display: flex;
  flex-direction: column;
  gap: var(--space-1x);
  margin-bottom: var(--space-2x);
  border-bottom: 1px solid var(--gray-800);
}

.expandedContent::-webkit-scrollbar {
  width: 6px;
}

.expandedContent::-webkit-scrollbar-track {
  background: transparent;
}

.expandedContent::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 3px;
}

.expandedContent::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.3);
}

.pill {
  background-color: transparent;
  color: var(--white);
  border-radius: var(--space-8x);
  padding: var(--space-1x) var(--space-3x);
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--space-2x);
  transition: all 0.2s ease;
  white-space: nowrap;
  cursor: pointer;
  border: none;
  width: fit-content;
  text-align: left;
}

.pill:hover {
  background-color: var(--gray-500);
}

.pillSelected {
  color: var(--white);
  background-color: var(--gray-500);

  & span {
    border-radius: var(--space-2x);
  }
}

.btnActive {
  background-color: #1e2635;
}
