.card {
  display: flex;
  background: var(--color-background);
  padding: var(--space-6x);
  align-items: start;
  gap: var(--space-6x);

  &:hover .cardFooter {
    opacity: 1;
  }
}

.card:first-child {
  border: 1px solid var(--border);
}

.card:nth-child(-n + 3) {
  border-top: 1px solid var(--border);
}

.card:not(:first-child) {
  border-bottom: 1px solid var(--border);
  border-right: 1px solid var(--border);
}
.card:nth-child(3n + 1) {
  border-left: 1px solid var(--border);
}

.card:hover {
  background-color: var(--muted);
}

.cardFooter {
  opacity: 0;
  /* enforcing a width */
  min-width: 16px;
  max-width: 16px;
  display: flex;
  align-items: end;
  height: 100%;
}

.cardTitle {
  font-size: 16px;
  font-weight: 525;
  color: var(--foreground);
  margin-bottom: var(--space-2x);
}

.cardDescription {
  color: var(--color-text-secondary);
  font-size: 0.9375rem;
  line-height: 1.6;
  margin: 0;
}

@media (max-width: 768px) {
  .card {
    padding: 1.25rem;
  }

  .cardTitle {
    font-size: 1rem;
  }

  .cardDescription {
    font-size: 0.875rem;
  }
}
