.cardsWrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.cardsWrapper h6 {
  font-size: 18px;
  margin-bottom: var(--space-4x);
}

.cardsWrapper p {
  font-size: 14px;
  line-height: 24px; /* 171.429% */
}

.card {
  padding: 20px var(--space-6x);
  background: #fff;
}

.card:hover {
  background: var(--gray-100);
}

.links {
  display: flex;
  flex-direction: column;
  margin-top: var(--space-6x);
  gap: var(--space-4x);
}

.link {
  color: var(--Color-Primary, #0e1119);
  display: flex;
  gap: var(--space-2x);
  align-items: center;
}

.link:hover span {
  opacity: 0.7;
}

@media screen and (min-width: 769px) {
  .cardsWrapper {
    grid-template-columns: repeat(3, 1fr);
  }

  .card:first-child {
    border: 1px solid rgba(22, 37, 65, 0.13);
  }

  .card:not(:first-child) {
    border-bottom: 1px solid rgba(22, 37, 65, 0.13);
    border-right: 1px solid rgba(22, 37, 65, 0.13);
  }

  .card:nth-child(-n + 3) {
    border-top: 1px solid rgba(22, 37, 65, 0.13);
  }

  .card:nth-child(3n + 1) {
    border-left: 1px solid rgba(22, 37, 65, 0.13);
  }
}

@media screen and (max-width: 768px) {
  .cardsWrapper {
    grid-template-columns: repeat(2, 1fr);
  }

  .card:first-child {
    border: 1px solid rgba(22, 37, 65, 0.13);
  }

  .card:not(:first-child) {
    border-bottom: 1px solid rgba(22, 37, 65, 0.13);
    border-right: 1px solid rgba(22, 37, 65, 0.13);
  }

  .card:nth-child(-n + 2) {
    border-top: 1px solid rgba(22, 37, 65, 0.13);
  }

  .card:nth-child(2n + 1) {
    border-left: 1px solid rgba(22, 37, 65, 0.13);
  }
}

@media screen and (max-width: 494px) {
  .cardsWrapper {
    grid-template-columns: 1fr;
  }

  .card:first-child {
    border: 1px solid rgba(22, 37, 65, 0.13);
  }

  .card:not(:first-child) {
    border-left: 1px solid rgba(22, 37, 65, 0.13);
    border-right: 1px solid rgba(22, 37, 65, 0.13);
    border-bottom: 1px solid rgba(22, 37, 65, 0.13);
  }
}
