.grid {
  display: grid;
}

.tutorialHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: var(--space-8x);
}

.tabsTrigger {
  height: 32px;
  padding: var(--space-1x) var(--space-2x);
  justify-content: center;
  align-items: center;
  border-radius: var(--space-2x);
  background-color: var(--pill);
  border: 1px solid var(--pill-border);
}

.tabsTrigger:hover {
  background-color: var(--pill-hover);
}

.tabsTrigger[data-state="active"] {
  background-color: var(--pill-active);
  border-color: var(--pill-active);

  & p {
    color: var(--pill-active-foreground);
  }
}

.tabsList {
  display: flex;
  gap: var(--space-2x);
  border-bottom: 0;
}

@media (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr;
  }
}
