---
import { Typography } from "@chainlink/blocks"
import { searchClient } from "@algolia/client-search"
import ChangelogCard from "./ChangelogCard.astro"
import { ALGOLIA_INDEX, type ChangelogItem } from "./types"
import styles from "./ChangelogSnippet.module.css"

type Results = {
  results: {
    hits: ChangelogItem[]
  }[]
}

const appId = import.meta.env.PUBLIC_ALGOLIA_SEARCH_APP_ID
const apiKey = import.meta.env.PUBLIC_ALGOLIA_SEARCH_PUBLIC_API_KEY

const client = searchClient(appId, apiKey)

const req = await client.search({
  requests: [
    {
      indexName: ALGOLIA_INDEX.CHANGELOG,
      query: "data feeds",
    },
  ],
})
const results = req.results[0].hits as ChangelogItem[]
const latestLog = results[0] as ChangelogItem

console.log(latestLog)
---

{
  results.length > 0 && (
    <section class={styles.container}>
      <Typography variant="h1">Changelog</Typography>
      <ChangelogCard item={latestLog} />
    </section>
  )
}
